:root {
	--tealish: #37bfc9;
	--warm-grey: #9b9b9b;
	--light-grey: #ecede8;
	--carnation: #fc808e;
	--greyish-brown: #4a4a4a;
	--faded-blue: #779ec9;
	--greyblue: #75bab9;
	--coral: #f8655e;
	--pinkish-grey: #cacaca;
}